.base {
  // @font-face {
  //   font-family: "Amstelvar-Roman-parametric-Vf";
  //   font-style: normal;
  //   line-height: 1rem;
  //   font-weight: 500;
  //   src: url("../../static/fonts/Amstelvar-Roman-parametric-VF.ttf") format("ttf");
  // }
  html,
  body,
  div,
  span,
  p {
    font-family: "Sans Serif";
  }

  .body-content {
    margin: 3vh 1vw;
    padding: 1vh 2vw;
    border-radius: 10px;
    border-bottom: thin;
    border-style: solid;
    border-color: gray;
  }
}
