@import "font";

body {
  background-color: #173f5f;
  font-family: $roboto-slab;
}

.base {
  html,
  div,
  span,
  p {
    color: #fff;
  }

  .body-content {
    margin: 3vh 1vw;
    padding: 1vh 2vw;
    border-radius: 10px;
    border-bottom: thin;
    border-style: solid;
    border-color: gray;
  }
}
